html {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(#229954, #1E8449 );
}

.box h1 {
    font-family: Impact, Charcoal, sans-serif;
}

.box{
    width:100%;
    text-align:center;
}
